@font-face {
  font-family: "iconfont-tbpc-search"; /* Project id 4480385 */
  src: url('//at.alicdn.com/t/a/font_4480385_rwl88pwbr5.woff2?t=1711968727214') format('woff2'),
       url('//at.alicdn.com/t/a/font_4480385_rwl88pwbr5.woff?t=1711968727214') format('woff'),
       url('//at.alicdn.com/t/a/font_4480385_rwl88pwbr5.ttf?t=1711968727214') format('truetype');
}

.iconfont-tbpc-search {
  font-family: "iconfont-tbpc-search" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.search-wangwang_shoujizaixian:before {
  content: "\e631";
}

.search-wangwang_zaixian:before {
  content: "\e632";
}

.search-wangwang_lixian:before {
  content: "\e633";
}

.search-a-wenzi:before {
  content: "\e634";
}

.search-hualang:before {
  content: "\e62c";
}

.search-liebiao:before {
  content: "\e62e";
}

.search-xiaojiantou8px:before {
  content: "\e62d";
}

